
.root {
	-fx-background-color: #458AE5; 
	-fx-font-size: 11pt; 
}

.label {
	-fx-text-fill: #ffffff; 
}

.label-welcome {
	-fx-text-fill: #ffffff; 
	-fx-font-size: 20pt; 
}

.label-title {
	-fx-text-fill: linear-gradient(lightblue, cyan); 
	-fx-font-size: 48pt; 
	-fx-font-weight: bold; 
	-fx-font-family: arial; 
}


.button {
	-fx-background-color: linear-gradient(#3333ff, #000066); 
	-fx-text-fill: #ffffff;
	-fx-background-radius:10; 
}


.button:hover {
    -fx-background-color: linear-gradient(#0066ff, #000033); /* Green */
    -fx-color: white;
   -fx-effect: dropshadow( gaussian , rgba(0, 0, 148, 0.8) , 10,0,0,1 ); 
}


.button-menu {
	-fx-background-color: 
        linear-gradient(#0066ff, #000033),
        linear-gradient(#0050ff, #000033),
        linear-gradient(#0080ff, #000033),
        linear-gradient(#66B2FF 0%, #0066ff 50%, #000033 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
	-fx-font-size: 14pt; 
	-fx-text-fill: #ffffff;
	-fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
	 -fx-font-weight: bold;
	-fx-pref-height: 20;
   -fx-pref-width: 200;
   -fx-padding: 10 20 10 20
 
}



.button-menu:hover {
	 -fx-background-color: linear-gradient(#0066ff, #000033); /* Green */
    -fx-color: white;
   -fx-effect: dropshadow( gaussian , rgba(0, 0, 148, 0.8) , 10,0,0,1 ); 
	
}

.button:hover {
    -fx-background-color: linear-gradient(#0066ff, #000033); /* Green */
    -fx-color: white;
   -fx-effect: dropshadow( gaussian , rgba(0, 0, 148, 0.8) , 10,0,0,1 ); 
}

.button-go {
	-fx-background-color: #3c7fb1, linear-gradient(#fafdfe, #e8f5fc), 
				 linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
	-fx-background-insets: 0,1,2; 
	-fx-background-radius: 30;
	-fx-text-fill: black;
}

.button-go:hover {
	-fx-background-color: #00FF80; 
    -fx-color: black; 
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 148, 0.8) , 10,0,0,1 ); 
}

.disabled {
    -fx-opacity: 0.6;
    -fx-cursor: not-allowed;
}

.cb  .label {
	-fx-text-fill:  black; 
}
.hyperlink{
	-fx-text-fill: blue;
}